<div class="text-center">
    <h1 class="display-1">404</h1>

    <h1>Looks like we couldn't find what you were looking for :(</h1>

    <h3>Try using different search parameters</h3>

    <h4><a asp-controller="Home" asp-action="Index">Back to the home page</a></h4>
</div>
