@model IEnumerable<Recipe>

@{
    foreach(Recipe recipe in Model){
        <form asp-action="RecipeDetails" asp-controller="Recipes">

        <input type="hidden" name="recipeId" value="@recipe.Id"/>

        <h1>@recipe.Title</h1>

        <img src="@recipe.ImageSource"/>

        <button type="submit" class="btn btn-primary m-3">Read more...</button>

        <hr/>
      
        </form>
        
        
    }
}